{% extends 'base.html.twig' %}

{% block title %}Nuevo Producto{% endblock %}

{% block body %}
    <h1>Crear Nuevo Producto</h1>

    {{ include('producto/_form.html.twig') }}

    <a href="{{ path('app_producto_index') }}">Volver a la lista</a>
{% endblock %}
